<%- include ('header') %>

<form method="GET" action="/cotacao">
  <input name="quotation" placeholder="Dollar quotation"><br>
  <input name="many" placeholder="How many dollars"><br>
  <button> To Convert!</button>
</form>

<%- include ('footer') %>